@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");


:root {
    --clr-primary-400: rgb(51, 51, 51);
    
    --clr-accent-400: rgb(19, 66, 107);
    --clr-accent-complementary: #853C09;
    --clr-accent-300: rgb(19, 66, 107);

    --white-color: rgb(255,255,255);
    --black-color: var(--clr-primary-400);

    --background-color: rgba(51, 51, 51, 0.08);

    /* --ff-accent: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif; */
    /* --ff-primary: system-ui, sans-serif; */
    --ff-accent: "Bai Jamjuree", sans-serif;
    /* --ff-primary: font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif; */
    --ff-primary: "Bai Jamjuree", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-accent: var(--ff-accent);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: .8125rem;
    --fs-400: 1.15rem;
    --fs-500: 1.3rem;
    --fs-600: 1.375rem;
    --fs-700: 1.5rem;

    --h3-font-size: var(--fs-600);
    --font-semi-bold: var(--fw-semi-bold);

    --justify-content-center: center;
    --justify-content-left: left;
    --justify: var(var(--justify-content-left));

    --fs-body: var(--fs-300);
    --fs-nav: var(--fs-500);
    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fs-600);
    --fs-button: var(--fs-400);
}

@media (min-width: 50em) {
    :root {
        --fs-700: 2.8rem;
        --fs-600: 1.8rem;

        --fs-body: var(--fs-500);
        
        --fs-nav: var(--fs-400);

        --justify: var(var(--justify-content-center))

    }
}


/* ----- DEFAULT CSS RESET ----- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Marging and padding */
* {
    margin: 0;
    padding: 0;
    font: inherit; /* it forces to use custom classes. */
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root default */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%
}

/* Set core body to default */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    text-align: center;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}
/* ----- END OF DEFAULT CSS RESET ----- */


/* Utility class */
body {
    font-family: var(--ff-body);
    /* font-family: sans-serif; */
    line-height: 1.5;
    
    height: 100vh;
}

h1 {
    text-transform: uppercase;
    color: var(--clr-accent-400);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-600);
    font-family: var(--ff-accent);

}

h2 {
    text-transform: uppercase;
    color: var(--clr-primary-400);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-700);
    font-family: var(--ff-accent);

}

p {
    color: var(--clr-primary-400);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    font-family: var(--ff-accent);
    margin-top: 1rem;
}

.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-accent-400 {
    color: var(--clr-accent-400);
}

/* hparams */

.container {
    width: 80%;
    margin: auto;
    max-width: 80rem;
    /* border: 2px solid red; */
    padding: 1rem;
    margin-inline: auto;
}

.unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.unstyled-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255,255,255,1);
}
.standard-contact a:hover, .standard-contact a:focus {
    /* color: rgba(255,255,255,.6); */
    color: var(--clr-accent-complementary);
    transition: all ease-in-out 250ms;
}

.grid {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}

/* Project */
.contact {
    padding: 3rem 0;
}

.contact-container {
    padding: 2rem 0;
}

.contact-tile {
    padding-bottom: 2rem;
}

.contact-subtitle{
    font-size: larger;
    color: var(--clr-accent-300);
    font-weight: var(--fw-semi-bold);

}
.contact-subtitle::after {
    content: '';
    display: block;
    height: .5px;
    /* background: white; */
    background: var(--clr-accent-400);
    opacity: .2;
    margin: .5em;
}

.standard-contact {
    color: var(--clr-primary-400);
    font-weight: var(--fs-500);
}
.standard-contact li a{
    color: var(--clr-accent-400);
}

.contact-form {
    padding-top: 3rem;
}

.contact-form-item {
    display: flex;
    text-align: center;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: auto
}
.contact-form-item i {
    color: var(--clr-accent-400);
}

.contact-inputs{
    width: 450px;
    height: 45px;
    border: none;
    outline: none; 
    padding-left: 25px;
    border-radius: 50px;
    padding: 1rem;
    margin: .5rem;
    color: var(--clr-primary-400);
    font-weight: var(--fw-semi-bold);
}
.contact-inputs:focus{
    border: 2px solid var(--clr-accent-400);
}
.contact-inputs::placeholder{
    font-style: italic;
    color: #a9a9a9;
    font-weight: var(--fw-regular);
}
.textarea{
    min-height: 180px;
    border-radius: 30px;
}

@media (max-width: 50em) {
    .contact-inputs {
        width: 200px;
    }   
}

.contact-form button {
    background-color: var(--clr-accent-300);
    padding: .8rem 1.6rem;
    font-size: var(--fs-400);
    border-radius: 50px;
    border: none;
    color: var(--white-color);
    cursor: pointer;
}

.contact-form button:hover{
    background-color: var(--clr-accent-complementary);
    transition: ease-in-out 200ms;
}