@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");


:root {
    --clr-primary-400: rgb(51, 51, 51);
    
    --clr-accent-400: rgb(19, 66, 107);
    --clr-accent-300: rgb(19, 66, 107);

    --white-color: rgb(255,255,255);
    --black-color: var(--clr-primary-400);

    --background-color: rgba(51, 51, 51, 0.08);

    /* --ff-accent: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif; */
    /* --ff-primary: system-ui, sans-serif; */
    --ff-accent: "Bai Jamjuree", sans-serif;
    /* --ff-primary: font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif; */
    --ff-primary: "Bai Jamjuree", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-accent: var(--ff-accent);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: .8125rem;
    --fs-400: 1.15rem;
    --fs-500: 1.3rem;
    --fs-600: 1.375rem;
    --fs-700: 1.5rem;

    --h3-font-size: var(--fs-600);
    --font-semi-bold: var(--fw-semi-bold);

    --justify-content-center: center;
    --justify-content-left: left;
    --justify: var(var(--justify-content-left));

    --fs-body: var(--fs-400);
    --fs-nav: var(--fs-500);
    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fs-600);
    --fs-button: var(--fs-400);
}

@media (min-width: 50em) {
    :root {
        --fs-700: 2.8rem;
        --fs-600: 1.8rem;

        --fs-body: var(--fs-500);
        
        --fs-nav: var(--fs-400);

        --justify: var(var(--justify-content-center))

    }
}


/* ----- DEFAULT CSS RESET ----- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Marging and padding */
* {
    margin: 0;
    padding: 0;
    font: inherit; /* it forces to use custom classes. */
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root default */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%
}

/* Set core body to default */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    text-align: center;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}
/* ----- END OF DEFAULT CSS RESET ----- */


/* Utility class */
body {
    font-family: var(--ff-body);
    /* font-family: sans-serif; */
    line-height: 1.5;
    
    height: 100vh;
}

h1 {
    text-transform: uppercase;
    color: var(--clr-accent-400);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-600);
    font-family: var(--ff-accent);

}

h2 {
    text-transform: uppercase;
    color: var(--clr-primary-400);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-700);
    font-family: var(--ff-accent);

}

p {
    color: var(--clr-primary-400);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    font-family: var(--ff-accent);
    margin-top: 1rem;
}

.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-accent-400 {
    color: var(--clr-accent-400);
}

/* hparams */

.container {
    width: 80%;
    margin: auto;
    max-width: 80rem;
    /* border: 2px solid red; */
    padding: 1rem;
    margin-inline: auto;
}

.unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.unstyled-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255,255,255,1);
}
.unstyled-list a:hover, .unstyled-list a:focus {
    color: rgba(255,255,255,.6);
    transition: all ease-in-out 250ms;
}

.grid {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}

/* Project */

/* Header */
.logo {
    background-image: url(../assets/img/logo-bianco.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    max-width: clamp(8% + 1rem, 10% + 1rem, 15% + 2rem);
}

.home-header {
    background: linear-gradient(var(--clr-accent-300), var(--clr-primary-400));
    padding: 0;
    margin: 0;
    /* background-color: red; */
}

.nav-wrapper {
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav {
    position: relative;
    flex: auto;
    text-align: right;
}

.main-nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: auto;
    background-color: linear-gradient(var(--clr-accent-300), var(--clr-primary-400));
    padding: 0;
}

.main-nav li {
    flex: 1 1 auto;
    display: inline-block;
    text-align: right;
}

.nav-item{
    position: relative;
    color: var(--white-color);
    font-size: var(--fs-300);
    font-weight: var(--font-semi-bold);
    transition: color .3s;
  }

.nav-item::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: width .4s;
}
.nav-item:hover {
    color: var(--white-color);
}
.nav-item:hover::after {
    width: 25%;
}

@media (max-width: 50em) {
    .nav-toggle {
        display: block;
        padding: 1.4rem;
        background-color: none;
        cursor: pointer;
    }
    .main-nav {
        display: none;
    }

    .main-nav {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 100%;
        font-size: 1.1rem;
        overflow: hidden;
        background-color: var(--clr-primary-400);
        /* opacity: .9; */
        backdrop-filter: blur(8px);
        transition: all ease-in-out 250ms;
    }

    .main-nav[is-open]{
        left: 0;
        transition: all ease-in-out 250ms;
    }

    .main-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
    }
    .main-nav li {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0,0,0, .2);
        display: flex;
    }
    .main-nav a {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .hamburger, .hamburger::before, .hamburger::after {
        content: '';
        display: block;
        width: 1.5rem;
        height: 3px;
        background: white;

        transition: all ease-in-out 250ms;
    }
    .hamburger::before {
        transform: translateY(-6px);
    }
    .hamburger::after {
        transform: translateY(3px);
    }

    .hamburger[is-open] {
        transform: rotate(45deg);
        background-color: white;
    }
    .hamburger[is-open]::after {
        transform: rotate(-90deg) translate(3px);
        background-color: white;
    }
    .hamburger[is-open]::before {
        opacity: 0;
    }
}/* End of Header */



/* PERFIL */

.perfil{
    padding-top: 4.5rem;
}

.background{
    background-color: var(--background-color);
}

.home-perfil{
    padding: 3rem 0;
}

.perfil-image{
    display: block;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-self: center;
    align-content: center;
}

.perfil-info {
    padding-top: 3rem;
}
.line{
    content: '';
    background-color: var(--clr-primary-400);
    height: 1px;
    width: 25%;
    margin: 0 auto;
    padding: auto;
    display: block;
    
}

.perfil--social-links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -1.4rem;
}

.roundbutton{
    background-color: var(--clr-accent-400);
    color: var(--white-color);
    text-decoration: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    place-items: center;
    display: grid;
    font-size: 1.25rem;
    margin: .2rem;
  }

.roundbutton:hover{
    background-color: var(--black-color);
  }

.home__scroll {
    display: block;
    width: max-content;
    margin: 1rem auto;
}
.home__scroll-text {
    display: none;
    text-decoration: none;
}
.home__scroll-box {
    background-color: var(--clr-accent-400);
    color: var(--white-color);
    width: 36px;
    height: 36px;
    place-items: center;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.4s;
    text-decoration: none;
}

.home__scroll-box i {
animation: scroll-down 1.5s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down {
    0%{
      transform: translateY(-1rem);
      opacity: 0;
    }
    50%{
      transform: translateY(0);
      opacity: 1;
    }
    100%{
      transform: translateY(0.6rem);
      opacity: 0;
    }
  }


/* HOME ABOUT ME*/
.home-about-me{
    padding-top: 4.5rem;
    /* background: linear-gradient(var(--clr-accent-300), var(--clr-primary-400));
    padding-block: min(5vh, 5rem);
    background-image: url(../assets/img/home-bio-no-bg-no-shadow.png);
    background-repeat:no-repeat;
    background-position: -1% 50%; */
}
.home-about-me-container{
    padding: 3rem 0;
}

.sign{
    display: block;
    text-align: right;
    font-style: italic;
    color: var(--clr-accent-400);
}



/* HOME SERVICES */
.home-services {
    padding: 3rem 0;
    
}

.home-services-init {
    padding: 3rem 0;
    /* padding-block: min(15vh, 15rem); */
}

.home-services--title{
    padding-bottom: 1rem;
}

.item{
    border: 2px solid var(--clr-accent-400);
    padding: 1.5rem;

}
.services-title {
    font-size: 1rem;
    color: var(--clr-accent-400);
    font-weight: 600;
}

.services-icon {
    font-size: 2.3rem;
    color: var(--clr-accent-400);
}

/* END HOME SERVICES */



.home-why {
    padding: 3rem 0;
}
.home-why-container{
    padding: 3rem 0;
}



.home-collegues {
    padding: 3rem 0;
}
.home-collegues-container{
    padding: 3rem 0;
}

.home-footer {
    background: linear-gradient(var(--clr-accent-300), var(--clr-primary-400));
}

.footer-grid-item:nth-child(1) {
    grid-area: one;
}
.footer-grid-item:nth-child(2) {
    grid-area: two;
}
.footer-grid-item:nth-child(3) {
    grid-area: three;
}
.footer-grid-item:nth-child(4) {
    grid-area: four;
}

.footer-grid {
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    'one two'
    'three three'
    'four four';
}
@media (max-width: 35rem) {
    .footer-grid {
        gap: 2rem;
        grid-template-areas: 
        'one'
        'two'
        'three'
        'four';
    }
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 1rem;
    justify-content: center;
}

.footer-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 1;
    padding: 0.5rem 2.5em;
    color: white;
    font-weight: var(--fw-semi-bold);
    font-size: 1rem;
    background: none;
}

.footer-title::before, .footer-title::after {
    content: '';
    display: block;
    height: .5px;
    background: white;
    opacity: .2;
    margin: .65em;
}

.footer li {
    text-align: center;
    font-size: 0.9rem;
    color: white;
    font-weight: 100;
}

.privacy a{
    font-size: 0.5rem;
    font-style: italic;
}