.main-header
    position: absolute
    top: 0
    left: 0
    right: 0
    background-color: rgba(255, 193, 203, .6)
    padding-top: 1em

.logo
    width: 15%
    min-width: 6rem
    max-width: 20rem